h1 {
    color: aqua;
}
body {
    background-color:beige;
}
p {
    color: red;
    background-color: aqua;
}
.primera {
    color: white;
    background-color: black;
}
.segunda {
    color: peru;
    background-color:salmon;
}
!important #tercero {
    color: darkgreen;
}
#tercero{
    color: blue;
}